:root{
  --yellow: #e1b12c;
  --grey:#dcdde1;
  --black: #2f3640;
}
.home{
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form{
  background-color: var(--grey);
  border: 2px solid #000000;
}
.no-account{
  text-decoration: none;
  color: black;
}
.login-btn{
  background-color: #000000;
}
.no-account:hover,.login-btn:hover{
  background-color: #000000;
  color: var(--yellow)
}
.chat-input{
  position: fixed;
  bottom: 0;
}
.message-box{
  margin-bottom: 9.3em;
}